@charset "utf-8";

// Media Queries
@mixin mq($breakpoint: medium, $rule: max, $addition: false) {
  $breakpoint: map_get($mq-breakpoints, $breakpoint);
  @if $rule == min and $addition {
    $breakpoint: $breakpoint + 0.0625;
  }
  @media (#{$rule}-width: $breakpoint) {
    @content;
  }
}

// Clearfix
@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Transition
@mixin ease($property: all, $duration: 0.2s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}
