header#header.l-header
  .container
    .header-container
      h1.page-title.no-select
        a(href="/")
          img(src="/assets/images/common/logos/logo-01.svg", alt="TOMIYAMA")

      .header-buttons
        .header-buttons__item.header-buttons__item--cart.no-select
          a(href="javascript:;")
            img(src="/assets/images/common/icons/supermarket.png", alt="", width="25")
        .header-buttons__item.header-buttons__item--burger.no-select
          a(href="javascript:;").drawer-toggle
            span
            span
            span

nav.drawer-nav
  ul.drawer-menu
    li
      a(href="#_4kdrone").helvetica 4K Drone
    li
      a(href="#dualcamera").helvetica Dual Camera
    li
      a(href="#collections").helvetica Collectinos
    li
      a(href="#trending").helvetica Trending

  .drawer-menu-2-wrapper
    ul.drawer-menu-2-main
      li
        a(href="#") ログイン
      li
        a(href="#") 会員登録

    ul.drawer-menu-2-sns
      li.instagram
        a(href="https://www.instagram.com/watanabenaomi703/", target="_blank")
          img(src="/assets/images/common/icons/icon-instagram.png", alt="", width="23")
      li.twitter
        a(href="https://twitter.com/matsu_bouzu", target="_blank")
          img(src="/assets/images/common/icons/icon-twitter.png", alt="", width="23")
