header#header.l-header
  .container
    .header-container
      h1.page-title.no-select
        a(href="/")
          img(src="/assets/images/common/logos/logo-01.svg", alt="TOMIYAMA")

      .header-buttons
        .header-buttons__item.header-buttons__item--cart.no-select
          a(href="#")
            img(src="/assets/images/common/icons/supermarket.png", alt="", width="25")
        .header-buttons__item.header-buttons__item--burger.no-select
          a(href="javascript:;")
            span
            span
            span
