@charset "utf-8";

.c-button {
  ::selection {
    color: $accent-color;
    background-color: $base-color;
  }

  a {
    @include ease();
    display: block;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: $accent-color;

    &:hover {
      @include mq(medium, min, true) {
        opacity: 0.7;
      }
    }
  }

  &--large {
    a {
      width: 320px;
      margin-right: auto;
      margin-left: auto;
      padding: 10px 0 6px;
      font-size: 3rem;

      @include mq() {
        width: 100%;
        padding: 12px 0 10px;
        font-size: 2.5rem;
      }
    }
  }
}
