@charset "utf-8";

.c-button {
  ::selection {
    color: $accent-color;
    background-color: $base-color;
  }

  a {
    @include ease();
    display: block;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: $accent-color;

    &:hover {
      opacity: 0.7;
    }
  }

  &--large {
    a {
      width: 320px;
      margin-right: auto;
      margin-left: auto;
      padding: 10px 0 6px;
      font-size: 3rem;
    }
  }
}
