@charset "utf-8";

.c-product-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;

  @include mq() {
    margin-bottom: 50px;
  }
}

.c-product-list-item {
  position: relative;
  display: block;
  width: 33.333333333%;
  padding: 100px 0 110px;
  text-align: center;
  text-decoration: none;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #dedede;

  @include mq(large) {
    width: 50%;
  }

  @include mq() {
    padding: 45px 0 55px;
  }

  &:nth-child(3n+1) {
    @include mq(large, min, true) {
      border-left-width: 1px;
    }
  }

  &:nth-child(2n+1) {
    @include mq(large) {
      border-left-width: 1px;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2),
  &:nth-last-child(3) {
    @include mq(large, min, true) {
      border-bottom-width: 1px;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    @include mq(large) {
      border-bottom-width: 1px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    pointer-events: none;
    opacity: 0;
    border: 1px solid #ccc;
  }

  &:hover {
    background-color: #f2f9f9;

    &::before {
      @include mq(medium, min, true) {
        opacity: 1;
      }
    }

    img {
      opacity: 1;
    }
  }
}

.c-product-list-item-thumbarea {
  position: relative;
  height: 195px;
  margin-bottom: 40px;
  // background-color: pink;

  @include mq() {
    height: 98px;
    margin-bottom: 10px;
  }

  img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);

    @include mq() {
      max-width: none;
      transform: translate(-50%, -50%) scale(0.5);
    }

    @include mq(xsmall) {
      transform: translate(-50%, -50%) scale(0.42);
    }
  }
}

.c-product-list-item-name-ja {
  margin-bottom: 12px;
  font-weight: 500;
  color: #818181;

  @include mq() {
    margin-bottom: 6px;
  }
}

.c-product-list-item-name-en {
  margin-bottom: 40px;
  font-weight: 600;

  @include mq() {
    margin-bottom: 20px;
  }
}

.c-product-list-item-price {
  width: percentage(230/410);
  margin-right: auto;
  margin-left: auto;
  padding: 5px 0 1px;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  background-color: $base-color;

  @include mq() {
    width: percentage(250/335);
    padding: 4px 0 3px;
    font-size: 1.4rem;
  }
}
