extends /layouts/_base

block variables
  - const page = pages['index']
  - const bodyId = 'index'
  - const bodyClass = 'drawer drawer--right'

block content
  //- 4K Drone
  //- ------------------------------------------------------------------------------------------------------------------------
  section._4kdrone.section#_4kdrone
    .jumbotron.c-heading-jumbotron
      .container
        h2.jumbotron__title.c-heading-jumbotron-label 4K Drone

    .container
      .carousel-wrapper
        .carousel-container
          .carousel
            .carousel-cell
            .carousel-cell
            .carousel-cell
            .carousel-cell

          .carousel-progress
            .progress-bar

          .carousel-arrows
            .carousel-arrows__arrow.carousel-arrows__arrow--prev
            .carousel-arrows__arrow.carousel-arrows__arrow--next

          .carousel-status-wrapper
            .carousel-status.helvetica
              .carousel-status__num.carousel-status__num--current
              span /
              .carousel-status__num.carousel-status__num--total

        ._4kdrone__heading
          span.helvetica 4K
          p
            | ブレ対策に特化した
            br
            | 超高画質4Kドローン

      .c-product-list
        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-01.png", alt="")
          p.c-product-list-item-name-ja ナディア
          p.c-product-list-item-name-en.helvetica 4K Drone Nadia
          p.c-product-list-item-price.helvetica ¥ 60,000

        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-02.png", alt="")
          p.c-product-list-item-name-ja デケム
          p.c-product-list-item-name-en.helvetica 4K Drone Decem
          p.c-product-list-item-price.helvetica ¥ 61,000

        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-03.png", alt="")
          p.c-product-list-item-name-ja ヴィクシア
          p.c-product-list-item-name-en.helvetica 4K Drone Vixia
          p.c-product-list-item-price.helvetica ¥ 64,000

        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-04.png", alt="")
          p.c-product-list-item-name-ja フリップデスク
          p.c-product-list-item-name-en.helvetica 4K Drone Flipdesk
          p.c-product-list-item-price.helvetica ¥ 81,000

        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-05.png", alt="")
          p.c-product-list-item-name-ja シフト
          p.c-product-list-item-name-en.helvetica 4K Drone Shift
          p.c-product-list-item-price.helvetica ¥ 96,000

        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-06.png", alt="")
          p.c-product-list-item-name-ja アボカド
          p.c-product-list-item-name-en.helvetica 4K Drone Avocado
          p.c-product-list-item-price.helvetica ¥ 127,000

      .c-button.c-button--large
        a(href="#").helvetica See All

  //- Dual Camera
  //- ------------------------------------------------------------------------------------------------------------------------
  section.dualcamera.section#dualcamera
    .jumbotron.c-heading-jumbotron
      .container
        h2.jumbotron__title.c-heading-jumbotron-label Dual Camera

    .container
      .c-product-list
        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-07.png", alt="")
          p.c-product-list-item-name-ja ブロッコリー
          p.c-product-list-item-name-en.helvetica Broccoli Vegetarian
          p.c-product-list-item-price.helvetica ¥ 101,000

        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-08.png", alt="")
          p.c-product-list-item-name-ja サムギョプサル
          p.c-product-list-item-name-en.helvetica Korean Barbecue
          p.c-product-list-item-price.helvetica ¥ 106,000

        a(href="#").c-product-list-item
          .c-product-list-item-thumbarea
            img(src="/assets/images/index/product-09.png", alt="")
          p.c-product-list-item-name-ja スンドゥブチゲ
          p.c-product-list-item-name-en.helvetica Sundubu Soup
          p.c-product-list-item-price.helvetica ¥ 184,000

      .c-button.c-button--large
        a(href="#").helvetica See All

  //- Collections
  //- ------------------------------------------------------------------------------------------------------------------------
  section.collections.section#collections
    .jumbotron.c-heading-jumbotron
      .container
        h2.jumbotron__title.c-heading-jumbotron-label Collections

    .container
      .collections__list
        .collections__item
          a(href="#")
            .image
              img(src="/assets/images/index/collections-bnr-01.jpg", alt="")
            .label
              span.helvetica(data-label-text="広角カメラ搭載") Wide-angle Lends

        .collections__item
          a(href="#")
            .image
              img(src="/assets/images/index/collections-bnr-02.jpg", alt="")
            .label
              span.helvetica(data-label-text="低価格モデル") Cheap Models

        .collections__item
          a(href="#")
            .image
              img(src="/assets/images/index/collections-bnr-03.jpg", alt="")
            .label
              span.helvetica(data-label-text="アクセサリー") Accessories

        .collections__item
          a(href="#")
            .image
              img(src="/assets/images/index/collections-bnr-04.jpg", alt="")
            .label
              span.helvetica(data-label-text="軽量モデル") Compact Models

  //- Trending
  //- ------------------------------------------------------------------------------------------------------------------------
  section.trending.section#trending
    .container
      h2.trending__heading.c-heading-jumbotron-label Trending

      .trending__list
        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-05.png", alt="")
            .name-ja シフト
            .name-en.helvetica 4K Drone Shift
            .price.helvetica ¥ 96,000

        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-02.png", alt="")
            .name-ja デケム
            .name-en.helvetica 4K Drone Decem
            .price.helvetica ¥ 61,000

        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-08.png", alt="")
            .name-ja サムギョプサル
            .name-en.helvetica Korean Barbecue
            .price.helvetica ¥ 106,000

        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-04.png", alt="")
            .name-ja フリップデスク
            .name-en.helvetica 4K Drone Flipdesk
            .price.helvetica ¥ 81,000

        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-09.png", alt="")
            .name-ja スンドゥブチゲ
            .name-en.helvetica Sundubu Soup
            .price.helvetica ¥ 184,000

        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-05.png", alt="")
            .name-ja シフト
            .name-en.helvetica 4K Drone Shift
            .price.helvetica ¥ 96,000

        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-08.png", alt="")
            .name-ja サムギョプサル
            .name-en.helvetica Korean Barbecue
            .price.helvetica ¥ 106,000

        .trending__item
          a(href="#")
            .thumbarea
              img(src="/assets/images/index/product-02.png", alt="")
            .name-ja デケム
            .name-en.helvetica 4K Drone Decem
            .price.helvetica ¥ 61,000

      .trending__progress
        .progress-bar-2

      .trending__arrows
        .arrow.arrow--prev
        .arrow.arrow--next
