extends /layouts/_base

block variables
  - const page = pages['index']
  - const bodyId = 'index'
  - const bodyClass = ''

block content
  section._4kdrone.section
    .jumbotron.c-heading-jumbotron
      .container
        h2.jumbotron__title.c-heading-jumbotron-label 4K Drone

    .container
      .carousel-wrapper
        .carousel-container
          .carousel
            .carousel-cell
            .carousel-cell
            .carousel-cell
            .carousel-cell

          .carousel-progress
            .progress-bar

          .carousel-arrows
            .carousel-arrows__arrow.carousel-arrows__arrow--prev
            .carousel-arrows__arrow.carousel-arrows__arrow--next

          .carousel-status.helvetica
            .carousel-status__num.carousel-status__num--current
            | /
            .carousel-status__num.carousel-status__num--total

        ._4kdrone__heading
          span.helvetica 4K
          p
            | ブレ対策に特化した
            br
            | 超高画質4Kドローン
