-
  const site = {
    url: 'https://tomiyama-drone.netlify.app/',
    themeColor: '#1c2434',
    description: '',
    keywords: '',
    ogSiteName: 'TOMIYAMA'
  }

-
  const pages = {
    index: {
      title: 'TOMIYAMA',
      description: '',
      keywords: '',
      path: '/'
    }
  }
