-
  const site = {
    url: 'https://path.to',
    themeColor: '#000000',
    description: 'description',
    keywords: 'keyword,keyword,keyword,keyword,keyword',
    ogSiteName: 'Document'
  }

-
  const pages = {
    index: {
      title: 'Document',
      description: '',
      keywords: '',
      path: '/'
    },
    sample: {
      title: 'Sample',
      description: '',
      keywords: '',
      path: '/sample/'
    }
  }
