-
  const site = {
    url: 'https://tomiyama-drone.netlify.app/',
    themeColor: '#1c2434',
    description: 'description',
    keywords: 'keyword,keyword,keyword,keyword,keyword',
    ogSiteName: 'TOMIYAMA'
  }

-
  const pages = {
    index: {
      title: 'TOMIYAMA',
      description: '',
      keywords: '',
      path: '/'
    }
  }
