@charset "utf-8";

.l-footer {
  padding-bottom: 90px;
  background-color: #fff;

  @include mq() {
    padding-bottom: 45px;
  }

  .footer-line {
    &__top {
      height: 7px;
      background-color: $base-color;

      @include mq() {
        height: 4px;
      }
    }

    &__bottom {
      height: 3px;
      background-color: $accent-color;

      @include mq() {
        height: 2px;
      }
    }
  }

  .footer-logo {
    margin-top: 200px;
    margin-bottom: 90px;

    @include mq() {
      margin-top: 100px;
      margin-bottom: 45px;
    }

    a {
      @include ease(transform, 0.5s, ease);
      display: inline-block;

      img {
        width: 100px;

        @include mq() {
          width: 70px;
        }
      }

      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    &__main-list {
      display: flex;
      flex-wrap: wrap;

      @include mq() {
        display: block;
      }
    }

    &__main-item {
      margin-left: 30px;
      font-size: 1.2rem;

      @include mq() {
        margin-top: 15px;
        margin-left: 0;
        font-size: 1rem;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.copyright {
        margin-left: 0;

        @include mq() {
          margin-top: 0;
        }

        small {
          font-size: 1.3rem;

          @include mq() {
            font-size: 1.1rem;
          }
        }
      }
    }

    &__sns-list {
      display: flex;
      user-select: none;
      flex-wrap: wrap;
      align-items: center;
    }

    &__sns-item {
      margin-left: 30px;

      @include mq() {
        margin-left: 20px;
      }

      &--instagram {
        margin-left: 0;

        @include mq() {
          width: 21px;
        }
      }

      &--twitter {
        margin-top: -3px;

        @include mq() {
          width: 21px;
          margin-top: -2px;
        }
      }
    }
  }
}
