@charset "utf-8";

#index {
  // 4K Drone
  // ------------------------------------------------------------------------------------------------------------------------
  ._4kdrone {
    .jumbotron {
      background-color: #d1dfe2;
      background-image: url(/assets/images/index/jumbotron.jpg);
      background-position: 55% 50%;
    }

    .carousel-wrapper {
      display: flex;
      overflow: hidden;
      margin: 100px 0;
      flex-wrap: wrap;
      align-items: center;
    }

    .carousel-container {
      position: relative;
      z-index: 1;
      width: percentage(720/1230);
    }

    .carousel {
      .carousel-cell {
        position: relative;
        width: 100%;
        height: 524px;
        background-color: $base-color;
        background-position: 0 0;
        background-size: cover;

        &:nth-child(1) {
          background-image: url(/assets/images/index/slider-01.jpg);
        }

        &:nth-child(2) {
          background-image: url(/assets/images/index/slider-02.jpg);
        }

        &:nth-child(3) {
          background-image: url(/assets/images/index/slider-03.jpg);
        }

        &:nth-child(4) {
          background-image: url(/assets/images/index/slider-04.jpg);
        }
      }
    }

    .carousel-arrows {
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;

      &__arrow {
        @include ease();
        position: absolute;
        bottom: 0;
        width: 85px;
        height: 85px;
        cursor: pointer;
        background-color: $base-color;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 13px auto;

        &--prev {
          right: 0;
          background-image: url(/assets/images/common/icons/icon-arrow-left.png);
        }

        &--next {
          left: 100%;
          background-image: url(/assets/images/common/icons/icon-arrow-right.png);
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .carousel-progress {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgba(87.1%, 87.1%, 87.1%, 0.6);

      .progress-bar {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        // width: 100%;
        height: 100%;
        background-color: $base-color;
      }
    }

    .carousel-status {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: calc(100% + 150px);
      display: flex;
      font-weight: bold;
      color: $base-color;

      &__num {
        padding: 0 3px;
      }
    }

    &__heading {
      position: relative;
      width: percentage(510/1230);
      margin-top: -70px;
      font-size: 3.6rem;
      font-weight: 900;
      line-height: 2;
      text-align: center;

      span {
        position: absolute;
        z-index: 0;
        top: 50%;
        right: 0;
        display: block;
        font-size: 38rem;
        font-weight: 900;
        line-height: 1;
        user-select: none;
        transform: translate(0, -50%);
        letter-spacing: -0.5rem;
        color: #e6eded;
      }

      p {
        position: relative;
        display: inline-block;
        text-align: left;
      }
    }
  }

  // Dual Camera
  // ------------------------------------------------------------------------------------------------------------------------
  .dualcamera {
    .jumbotron {
      margin-bottom: 100px;
      background-color: #7aa7ac;
      background-image: url(/assets/images/index/dualcamera-jumbotron.jpg);
      background-position: 50% 50%;
    }
  }

  // Collections
  // ------------------------------------------------------------------------------------------------------------------------
  .collections {
    .jumbotron {
      margin-bottom: 100px;
      background-color: $base-color;

      &__title {
        color: $accent-color;
      }
    }

    &__list {
      margin-bottom: -30px;
    }

    &__item {
      overflow: hidden;
      width: calc(50% - 15px);
      margin-bottom: 30px;

      a {
        position: relative;
        display: block;
        text-decoration: none;

        .image {
          img {
            @include ease(transform, 0.3s, ease);
          }
        }

        .label {
          position: absolute;
          z-index: 1;
          bottom: 30px;
          left: 30px;
          display: inline-block;
          padding: 5px 40px 3px;
          background-color: $base-color;

          span {
            display: inline-block;
            font-size: 1.6rem;
            color: #fff;

            &::after {
              content: attr(data-label-text);
              font-family: $base-font-family;
              font-size: 0;
            }
          }
        }

        &:hover {
          .image {
            img {
              transform: scale(1.15);
              opacity: 1;
            }
          }

          .label {
            padding: 4px 40px 5px;

            span {
              font-size: 0;

              &::after {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  // Trending
  // ------------------------------------------------------------------------------------------------------------------------
  .trending {
    &__heading {
      margin-bottom: 20px;
      color: $base-text-color;
    }

    &__list {
    }

    &__item {
      width: 240px;
      padding-bottom: 100px;
      text-align: center;

      a {
        display: block;
        text-decoration: none;

        .thumbarea {
          position: relative;
          width: 100%;
          height: 234px;
          margin-bottom: 10px;
          // background-color: pink;

          img {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .name-ja {
          margin-bottom: 6px;
          font-weight: 500;
          color: #818181;
        }

        .name-en {
          margin-bottom: 5px;
        }

        .price {
          font-style: italic;
        }
      }
    }

    &__progress {
      position: relative;
      width: 100%;
      height: 4px;
      margin-bottom: 80px;
      background-color: #dedede;

      .progress-bar-2 {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        // width: 100%;
        height: 100%;
        background-color: $base-color;
      }
    }

    &__arrows {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;

      .arrow {
        @include ease();
        width: 85px;
        height: 85px;
        cursor: pointer;
        background-color: $base-color;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 13px auto;

        &--prev {
          right: 0;
          background-image: url(/assets/images/common/icons/icon-arrow-left.png);
        }

        &--next {
          left: 100%;
          background-image: url(/assets/images/common/icons/icon-arrow-right.png);
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
