@charset "utf-8";

#index {
  ._4kdrone {
    padding-top: 0;

    .jumbotron {
      background-color: #d1dfe2;
      background-image: url(/assets/images/index/jumbotron.jpg);
      background-position: 55% 50%;
    }

    .carousel-wrapper {
      padding: 100px 0;
    }

    .carousel-container {
      position: relative;
      width: percentage(720/1230);
    }

    .carousel {
      .carousel-cell {
        position: relative;
        width: 100%;
        height: 524px;
        background-color: $base-color;
        background-position: 0 0;
        background-size: cover;

        &:nth-child(1) {
          background-image: url(/assets/images/index/slider-01.jpg);
        }

        &:nth-child(2) {
          background-image: url(/assets/images/index/slider-02.jpg);
        }

        &:nth-child(3) {
          background-image: url(/assets/images/index/slider-03.jpg);
        }

        &:nth-child(4) {
          background-image: url(/assets/images/index/slider-04.jpg);
        }
      }
    }

    .carousel-arrows {
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;

      &__arrow {
        @include ease();
        position: absolute;
        bottom: 0;
        width: 85px;
        height: 85px;
        cursor: pointer;
        background-color: $base-color;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 13px auto;

        &--prev {
          right: 0;
          background-image: url(/assets/images/common/icons/icon-arrow-left.png);
        }

        &--next {
          left: 100%;
          background-image: url(/assets/images/common/icons/icon-arrow-right.png);
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .carousel-progress {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: rgba(87.1%, 87.1%, 87.1%, 0.6);

      .progress-bar {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        // width: 100%;
        height: 100%;
        background-color: $base-color;
      }
    }

    .carousel-status {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: calc(100% + 150px);
      display: flex;
      font-weight: bold;
      color: $base-color;

      &__num {
        padding: 0 3px;
      }
    }
  }
}
